.heading {
    margin-left: 10px;
    color: #fff;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #fff !important;
}

.hero {
    background-color: lightyellow;
    box-sizing: inherit;
}

.img-fluid {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.css-10r0h1c-MuiStack-root>:not(style):not(style) {
    margin: 16px;
}

.css-17rfbpd-MuiTypography-root {
    margin-bottom: 0px;
}

.css-1vd824g-MuiGrid-root {
    padding: 60px;
}

.image {
    padding: 60px;
}

.css-1k2nhpl-MuiButtonBase-root-MuiButton-root,
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root,
.css-mzzq1f-MuiButtonBase-root-MuiButton-root {
    background-color: #5a287d !important;
}

.css-xsqe0f-MuiButtonBase-root-MuiButton-root {
    border: 1px solid #5a287d !important;
    color: #5a287d !important;
}