body {
    font-family: "RNHouseSansRegular", sans-serif;
}

.img-fluid {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    height: 65px;
    background-color: #5a287d !important;
}

.css-1k2nhpl-MuiButtonBase-root-MuiButton-root,
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root,
.css-mzzq1f-MuiButtonBase-root-MuiButton-root,
.css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #5a287d !important;
}

.css-xsqe0f-MuiButtonBase-root-MuiButton-root,
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    border: 1px solid #5a287d !important;
    color: #5a287d !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: transparent !important;
}

.css-1la267r-MuiAreaElement-root {
    fill: #5a287d !important;
}

.next,
.prev {
    position: absolute;
    top: 45%;
    cursor: pointer;
}

.next {
    right: -10px;
}

.prev {
    left: -10px;
}

.css-8bjq0v-MuiButtonBase-root-MuiButton-root {
    background-color: #5a287d !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #5a287d !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #5a287d !important;
}

.css-1dym4ij-MuiButtonBase-root-MuiButton-root {
    color: #646068 !important;
}

.scroll-bar::-webkit-scrollbar {
    width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.css-2slm4r-MuiTableCell-root {
    color: #5a287d !important;
}

.css-1s18dhm-MuiTableCell-root {
    color: #646068 !important;
}

.css-ciy9n4-MuiPaper-root-MuiAppBar-root {
    background-color: #5a287d !important;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
    background-color: #5a287d !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
    margin-top: 20px !important;
}